#page-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--smallPad);
    padding-top: var(--smallPad);
    padding-bottom: var(--lgPad);
    padding-left: var(--DesktopPadBody);
}

#budget-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.main-container {
    flex: auto;
    background-color: var(--Dark);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem 3rem;
}

.main-container h3 {
    grid-column: 1;
    grid-row: 1;
}

.main-container #add-expense-button {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}

.main-container #expense-container, .main-container #upcoming-expense-container {
    grid-column: 1/3;
    grid-row: 2;
}

/*
*** Styles for budget chart section ***
*/
#budget-charts {
    width: 45%;
}

/*
*** Styles for basic info section ***
*/

#budget-basic {
    display: grid;
    grid-template-rows: .2fr auto .5fr auto 1fr;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    align-items: start;
    justify-items: left;
    width: 100%;
}

#budget-basic p {
    margin: 0px;
    white-space: pre-wrap;
}

#details-head {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: start;
}

#details-name {
    font-size: 2rem;
}

#details-recurring {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
}

#recur-description {
    font-weight: 300;
}

#options-container {
    grid-row: 5;
    grid-column: 3;
    align-self: end;
    justify-self: end;
}

.options-panel {
    position: absolute;
    right: 30px;
    width: fit-content;
    background-color: var(--Navy);
    border-radius: 10px;
    box-shadow: var(--Dark) 5px 5px 10px;
    cursor: pointer;
    z-index: 2;
}

.options-title {
    display: none;
}

.budget-edit, .budget-copy {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: var(--smallPad);
}

.budget-edit h4, .budget-copy h4 {
    color: var(--Light);
    font-size: 1rem;
    font-weight: 200;
    margin: 0px 0px 0px var(--smallPad);
}

.budget-copy:hover {
    background-color: var(--faded);
    border-radius: 0px 0px 10px 10px;
}

.budget-edit:hover {
    background-color: var(--faded);
    border-radius: 10px 10px 0px 0px;
}

#date-start {
    grid-row: 2;
    grid-column: 1;
    text-align: left;
}

#date-end {
    grid-row: 2;
    grid-column: 2;
    text-align: left;
}

#description {
    grid-row: 3;
    grid-column: 1/3;
    text-align: left;
    width: 100%;
    margin-bottom: var(--smallPad);
}

#viewing-date-container {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-self: center;
    align-self: end;
    gap: var(--mobilePad);
}

#viewing-dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:var(--medPad);
}

#details-chart-container {
    overflow: hidden;
    grid-row: 2/6;
    grid-column: 3;
    height: 100%;
    width: 100%;
    min-height: 30vh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--smallPad);
}

#limited-charts-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#chart-container {
    min-height: 30vh;
}

#limited-charts {
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
}

.doughnut {
    gap: var(--smallPad);
}

#limited-charts p {
    margin: 0px;
    text-align: center;
}

.progress-svg {
    transform: scale(1.2);
}

/*
*** Styles for facts info section ***
*/
#budget-break {
    grid-column: 1/3;
    grid-row: 4;
    background-color: var(--Grey);
    height: 2px;
    width: 100%;
    border-radius: 1px;
}

#stat-container {
    grid-row: 5;
    grid-column: 1/3;
}

#stat-summary {
    margin-top: 0px;
}