.non-header {
    padding-left: 15px;
    padding-right: 15px;
}

#landing-hero {
    padding-top: 70px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: .5fr 1fr .6fr .4fr .5fr;
}

#hero1 {
    grid-row: 2/3;
}

#hero2 {
    grid-row: 3/4;
}

#hero

#landing-info {
    background-color: var(--Dark);
}

#hero-login {
    margin-right: 15px;
}

#down-icon-container {
    display: flex;
    flex-grow: .5;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

#down-icon:hover {
    cursor: pointer;
}

h1 {
    margin: 0rem;
}