/* 
*** Font Information ***
Header:
https://fonts.google.com/specimen/Pacifico?category=Handwriting&preview.text=Chary&preview.size=72&preview.text_type=custom
font-family: 'Pacifico', cursive;

Content:
https://fonts.google.com/specimen/Kanit?category=Sans+Serif,Display,Monospace&thickness=3
font-family: 'Kanit', sans-serif;
*/

/*
*** Color Information***
Defining color values to make it easier to change later on 
*/
:root {
    --Background: #23060A;
    --BAccent: #f6f04a;
    --Light: #f6d4d2;
    --Dark: #100007;
    --Navy: #2F2E41;
    --Grey: #CCCCCC;
    --MainD: #A82130;
    --MainL: #CD5F6A;
    --ContrastD: #30A821; /*#74A821, #21A899*/
    --ContrastL: #6ACD5F; /*#A1CD5F, #5FCDC2*/
    --ContrastDD: #065e10;
    --faded: rgb(0, 0, 0, .6);

    /* Number Variables */
    --mobilePad: 15px;
    --smallPad: 20px;
    --medPad: 30px;
    --lgPad: 40px;
    --DesktopPadBody: 40px;
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: var(--Background);
}

h1 {
    font-weight: 600;
    color: var(--MainL);
    font-size: 3rem;
    line-height: 4rem;
    margin: 0rem;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--Light)
}

h3 {
    font-weight: 200;
    font-size: 1.3rem;
    color: var(--Light)
}

h4 {
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--Light)
}

p, button, a, li {
    color: var(--Light);
    font-weight: 200;
    font-size: 1rem;
}

img {
    height: auto;
    width: 100%;
}

a {
    color: var(--Dark);
    text-decoration: none;
    width: fit-content;
}

a.normal-link {
    color: var(--ContrastL);
    font-size: 1rem;
}

a.normal-link:link {
    color: var(--ContrastL);
    border-bottom: solid 2px var(--ContrastL);
}

a.normal-link:visited {
    color: var(--ContrastD);
    border-bottom: solid 2px var(--ContrastDD);
}

a.normal-link:hover {
    color: var(--MainD);
}

a.normal-link:active {
    color: var(--ContrastDD);
}

/*
*** Styles for loading placeholders ***
*/

.placeholder {
    border-radius: 25px;
    background-color: var(--Light);
    animation-name: placeholder-fade;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.placeholder-h3 {
    height: 2rem;
    margin-bottom: var(--smallPad);
    min-width: 10rem;
}

.placeholder-p {
    height: 1rem;
    width: 100%;
}

.placeholder-long {
    height: 1rem;
    width: 100%;
    margin-bottom: .5rem;
}

.placeholder-small {
    height: 1rem;
    width: 20%;
}

@keyframes placeholder-fade {
    0%   {background-color: var(--Navy);}
    50%  {background-color: var(--Light);}
    100%  {background-color: var(--Navy);}
}

/*
*** More specific styles that still need to be reused ***
*/ 

button {
    background-color: var(--Background);
    color: var(--Light);
    border: solid 2px var(--Light);
    border-radius: 50rem 50rem 50rem 50rem;
    padding: 10px 20px 10px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: fit-content;
}

.cta-button {
    background-color: var(--ContrastL) !important;
    color: var(--Dark);
    border: none;
}

.label {
    font-weight: 300;
    font-size: 1.1rem;
}

#add-budget-button, #add-earning-button, #add-expense-button {
    margin-left: 1em;
    background-color: var(--ContrastL);
    color: var(--Dark);
    border: solid 2px var(--ContrastL);
    transition: background-color .5s ease-in-out,
    color .5s ease-in-out;
    font-weight: 400;
    font-size: 1em;
}

#header-container {
    background-color: var(--Light);
}

.content {
    max-width: 1200px;
}

.non-header {
    margin-right: auto;
    margin-left: auto;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.icon:hover, #large-logo {
    cursor: pointer;
}

.recur-img, .options-img, .more-img, .update-img, .snip-edit, .wallet-img {
    width: 1.7rem;
    height: auto;
}

.centered {
    text-align: center;
}

.thumbnail {
    width: 3rem;
    height: 3rem;
    background-color: var(--Grey);
    border-radius: 50%;
}

.subhead {
    font-weight: bold;
    color: var(--MainL);
    margin: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: var(--MainL);
    color: var(--Dark);
    font-size: 1em;
    font-weight: 300;
    padding: 10px;
}

td {
    color:var(--Light);
    font-size: 1em;
    font-weight: 200;
    padding: 10px;
}

tr:nth-child(even) td {
    background-color: var(--Dark);
}

tr:nth-child(odd) td {
    background-color: var(--Background);
}

.update-img {
    cursor: pointer;
    vertical-align: middle;
}

.long-text {
    text-overflow: ellipsis;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
}

.module {
    padding: var(--medPad);
}

.module-header {
    font-size: 1.45rem;
    font-weight: 300;
    margin: 0px;
}

.fraction-top, .fraction-bottom, .fraction-slash {
    display: inline-block;
    margin: 0px;
}

.outer-progress {
    fill: none;
    stroke-linecap: round;
    stroke: var(--Navy);
    stroke-width: 30;
}

.inner-progress {
    fill: none;
    stroke-linecap: round;
    stroke: var(--ContrastL);
    stroke-width: 20;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: var(--smallPad);
    justify-content: center;
    margin-top: var(--smallPad);
}

.carousel-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.active-dot {
    background-color: var(--MainD);
}

.inactive-dot {
    background-color: var(--MainL);
}

/*
*** Footer styles ***
*/ 

.contact-icon {
    max-width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
}

.footer {
    background-color: var(--Dark);
    display: grid;
    color: var(--Dark);
    grid-template-rows: 1fr .8fr .5fr .5fr .5fr .5fr;
    align-items: center;
    height: 15rem;
    width: 100%;
}

.footer h3 {
    color: var(--Dark);
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.contact-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 2;
}

.btt-icon {
    background-color: var(--Light);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 5;
}

.btt-icon:hover {
    transform: rotate(25deg);
}

.legal-button a, span {
    color: var(--Light);
    margin-left: 10px;
    margin-right: 10px;
}

#legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-row: 3;
}

/*
*** Up-down animation ***
*/ 
.floating {
    animation: MoveUpDown 2s ease-in-out infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/*
*** Mobile-specific styles (not nav) ***
*/ 
@media screen and (max-width:767px) {
    .non-header {
        padding-left: var(--mobilePad);
        padding-right: var(--mobilePad);
    }

    .legal-button a, span {
        font-size: 1em;
    }
}

/*
*** Desktop specific styles (not nav) ***
*/ 
@media screen and (min-width:767px) {
    .non-header {
        padding-left: var(--DesktopPadBody);
        padding-right: var(--DesktopPadBody);
    }
}


/*
*** Navbar Styles***
Creating the navigation bar depending on the size of the user's screen 
*/

/* Mobile screen navbar */
@media screen and (max-width:767px) {
    header {
        text-align: center;
        position: fixed;
        width: 100%;
        padding-top: var(--mobilePad);
        transition: .4s ease-in-out;
        background-color: var(--Light);
        z-index: 10;
    }

    #large-logo {
        height: 2.5rem;
        width: auto;
    }

    nav {
        /* Positioning the navbar contents */
        position: absolute;
        text-align: left;
        width: 0%;
        height: 100vh;
        top: 100%;
        right: 0;

        /* Styling navbar behavior */
        overflow: hidden;
        white-space: nowrap;
        background-color: var(--Light);
        transition: .6s ease-in-out;
        padding-top: 2.8rem;
    }

    nav ul {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
    }

    nav li {
        margin-bottom: 1.2rem;
        margin-left: 2rem;
        padding: .5rem .5rem .5rem 1.2rem;
        border-radius: 50rem 0rem 0rem 50rem;
        transition: .3s ease-in-out;
    }

    nav li:hover {
        background-color: var(--MainD);
    }

    nav li:active {
        background-color: var(--MainD);
    }

    nav li:hover a {
        color: var(--Light);
    }

    nav li:active a {
        color: var(--Light);
    }

    nav a {
        color: var(--Dark);
        text-decoration: none;
        font-size: 1.4rem;
    }

    #toggle-icon {
        position: absolute;
        right: 0rem;
        margin-right: 0.8rem;
    }
}

/*
*** Larger Device (tablet, desktop, etc.) ***
*/ 
@media screen and (min-width:767px) {
    #header-container {
        border-bottom: solid 2px var(--MainL);
    }

    header {
        display: grid;
        align-items: center;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: .5fr 2fr;
    }
    
    nav {
        grid-column: 4;
        height: fit-content;
        margin: 0;
        position: relative;
        width: fit-content !important;
    }
    
    nav ul {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    nav a {
        color: var(--Dark);
        text-decoration: none;
        font-size: 1.1rem;
        transition: .3s;
        font-weight: 300;
    }
    
    nav li {
        padding: 10px 25px 10px 25px;
        white-space: nowrap;
    }
    
    nav li:hover a {
        color: var(--MainD);
    }
    
    nav li:active a {
        color: var(--ContrastD);
    }

    .nav-nolink {
        color: var(--Dark);
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 100;
        padding: 0px;
    }

    .profile-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: 10px 25px 10px 25px;
        white-space: nowrap;
        background-color: var(--Light);
        border-radius: 50%;
        border: solid 2px var(--faded);
    }

    #profile-options {
        position: absolute;
        right: 15px;
        grid-template-rows: 1fr 1fr;
        background-color: var(--Navy);
        border-radius: 10px;
        box-shadow: black 5px 5px 10px;
    }

    #profile-options a {
        color: var(--Light);
        font-size: 1rem;
        font-weight: 200;
        width: 100%;
        padding: 15px 25px 15px 25px;
        text-align: center;
    }

    #profile-options a:hover {
        background-color: var(--faded);
    }

    #profile-options a:hover:nth-child(even) {
        border-radius: 0px 0px 10px 10px; 
    }

    #profile-options a:hover:nth-child(odd) {
        border-radius: 10px 10px 0px 0px;
    }
    
    #large-logo {
        height: 3rem;
        width: auto;
        grid-column: 1;
        margin-left: 40px;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    
    #large-logo:hover {
        cursor: pointer;
    }
    
    #toggle-icon {
        display: none;
    }
}