h2 {
    font-size:1.5em;
}

h4 {
    font-size: .8em;
}

#dashboard-content {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 0px;
}

#dashboard-non-scrollable {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
    min-width: fit-content;
    max-width: max-content;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 2.5em;
    padding-top: 2.5em;
    text-align: left;
}

#profile-section {
    grid-row: 1;
    width: 100%;
    padding-left: 2.5em;
}

.user-info img {
    text-align: center;
}

#dashboard-tabs {
    grid-row: 2;
}

#dashboard-tabs ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

#dashboard-tabs li {
    margin-bottom: 2rem;
    border-radius: 0rem 50rem 50rem 0rem;
    padding: .5em .5em .5em 2.5em;
}

.dashTab {
    cursor: pointer;
}

.dashTab:hover {
    background-color: var(--MainD);
}

.active {
    background-color: var(--Navy);
}

#dashboard-scrollable {
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5em;
}

#add-budget-button, #add-earning-button, #add-expense-button {
    margin-left: 1em;
    background-color: var(--ContrastL);
    color: var(--Dark);
    border: solid 2px var(--ContrastL);
    transition: background-color .5s ease-in-out,
    color .5s ease-in-out;
    font-weight: 300;
    font-size: .8em;
}

/* Styles for the budget section */
#budget-section {
    display: grid;
    grid-template-columns: auto 1fr;
}

#dashboard-scrollable h1 {
    display: inline;
}

#budget-container {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
}

.budget-info {
    padding: 25px;
    margin: 10px;
    background-color: var(--Dark);
    width: 250px;
    height: fit-content;
    max-height: 350px;
    display: grid;
    grid-template-rows: .5fr .4fr 1fr .5fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 10%;
}

.svg-div {
    height: 0px;
    grid-row: 2;
    grid-column: span 2;
}

.budget-info p, h4{
    display: none;
}

.budget-info button {
    display: block;
    grid-row: 4;
    background-color: var(--Dark);
    padding: 0px 20px 0px 20px;
    font-weight: 300;
    font-size: .8em;
    transition: background-color .5s ease-in-out,
    color .5s ease-in-out;
}

.budget-name {
    margin: 0px;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    grid-row: 1;
    grid-column: span 2;
}

.fraction-top, .fraction-bottom, .fraction-slash {
    display: inline-block;
    grid-row: 3;
    grid-column: 1/3;
}

.fraction-slash {
    font-size: 2em;
}

.fraction-top {
    text-align: right;
    transform: translate(-70%, 0%);
}

.fraction-bottom {
    transform: translate(70%, 40%);
}

.budget-info img {
    width: 1.3em;
    height: auto;
}

.outer-progress {
    fill: none;
    stroke-width: 30;
    stroke-linecap: round;
    stroke: var(--Navy);
}

.inner-progress {
    fill: none;
    stroke-width: 20;
    stroke-linecap: round;
    stroke: var(--ContrastL);
}

/* Styles for the earning section */
#earning-section {
    display: grid;
    grid-template-columns: auto 1fr;
}

#earning-container {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
}

/* Styles for the expense section */
#expense-section {
    display: grid;
    grid-template-columns: auto 1fr;
}

#expense-container {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
}