.content {
    color: var(--Light);
    width: fit-content;
}

#acd-content {
    margin-top: var(--medPad);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto auto auto 1fr;
    gap: 0px var(--medPad);
}

#acd-content #back-button {
    grid-row: 1;
    grid-column: 1;
    width: max-content;
}

#acd-content h2 {
    grid-row: 1;
    grid-column: 2;
    margin: 0px;
}

#acd-content #alert-section {
    grid-row: 2;
    grid-column: 2;
}

#acd-content #current-date-view {
    grid-row: 3;
    grid-column: 2/4;
}

.acd-form {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr .2fr .2fr .5fr .5fr .2fr .1fr .2fr;
    gap: 0px var(--medPad);
    margin: auto;
}

#alert-section h4 {
    margin: 0px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--MainL);
}

#popup-text {
    margin-bottom: 1rem;
}

label, p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .2rem;
}

span i {
    font-weight: 200;
}

#recurring-true:checked ~ .label-recurring-true,
#recurring-false:checked ~ .label-recurring-false,
#daily:checked ~ .label-daily,
#weekly:checked ~ .label-weekly,
#biweekly:checked ~ .label-biweekly,
#monthly:checked ~ .label-monthly,
#yearly:checked ~ .label-yearly,
#all:checked ~ .all-label,
#one:checked ~ .one-label,
#future:checked ~ .future-label {
    background-color: var(--MainD);
    border-color: var(--MainD);
}

.label-recurring, .budget-period, .expense-period, .earning-period, .label-update-method {
    cursor: pointer;
    background-color: var(--Background);
    color: var(--Light);
    padding: 1em;
    border: 2px solid var(--Light);
    border-radius: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70%;
    min-width: 5rem;
}

#name-div, #description-div,
#amount-div, #start-div,
#end-div, #category-div {
    display: flex;
    flex-direction: column;
    margin-top: var(--smallPad);
}

#recurring-div, #period-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--smallPad) 0px;
}

#recurring-div label, #period-div label {
    margin-right: var(--smallPad);
}

#name-div {
    grid-row: 1;
    grid-column: 1;
}

#description-div {
    grid-row: 2;
    grid-column: 1/3;
}

#category-div {
    grid-row: 3;
    grid-column: 1;
}

#amount-div {
    grid-row: 1;
    grid-column: 2;
}

#period-label, #recurring-label {
    grid-column: 1/3;
    margin-top: var(--smallPad);
}

#period-div {
    grid-column: 1/3;
}

#start-div {
    grid-column: 1;
}

#end-div {
    grid-column: 2;
}

#submit-entity-button {
    grid-row: 9;
    grid-column: 1;
}

#delete-entity-button {
    grid-row: 9;
    grid-column: 2;
}

.row4 {
    grid-row: 4;
}

.row5 {
    grid-row: 5;
}

.row6 {
    grid-row: 6;
}

.row7 {
    grid-row: 7;
}

.row8 {
    grid-row: 8;
}

/* Styles for the update method form */
#popup {
    width: 80%;
}

.update-method {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: var(--smallPad);
    margin-top: var(--smallPad);
    margin-bottom: var(--smallPad);
}

.update-method .cta-button {
    justify-self: end;
}

#option-div-collection {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    gap: var(--medPad);
    align-items: center;
}

.option-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--smallPad);
}

.option-img {
    width: 100%;
    height: auto;
}