/* Landing hero styles */
h3 {
    font-size: 1.1rem;
    font-weight: 300;
}

#landing-hero {
    padding-top: 70px;
    height: 100vh;
    background-color: var(--faded);
}

#landing-hero, #landing-info {
    padding-left: 15px;
    padding-right: 15px;
}

#hero-text {
    grid-template-rows: 1fr .5fr 0fr .4fr 1fr;
    align-items: center;
    display: grid;
    height: 100%;
}

#hero1 {
    grid-row: 2/3;
}

#hero2 {
    display: none;
}

#hero2-mobile {
    display: block;
    grid-row: 3/4;
}

#hero3 {
    grid-row: 4/5;
}

#hero-login {
    margin-right: 15px;
}

#hero-img {
    display: none;
}

#hero-img-mobile {
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 40%;
    max-width: 100%;
}

#down-icon-container {
    grid-row: 5/6;
    display: flex;
    flex-grow: .5;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

#down-icon:hover {
    cursor: pointer;
}

/* Information section styles */

#landing-info {
    background-color: var(--Dark);
    padding-top: 20px;
    padding-bottom: 20px;
}

.number {
    background-color: var(--Grey);
    color:var(--Light);
    font-size: 3rem;
    padding: 10px;
    width:100px;
    height:100px;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
}

.info-box {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 20px;
}