/* Landing hero styles */
#landing-hero {
    padding-top: 70px;
    height: 100vh;
    display: grid;
    grid-template-columns: 530px 1fr;
    grid-template-rows: 1fr .5fr 0fr .4fr 1fr;
    align-items: center;
}

#hero1 {
    grid-row: 2/3;
}

#hero2 {
    grid-row: 3/4;
}

#hero3 {
    grid-row: 4/5;
}

#hero-img {
    grid-column: 2;
    grid-row: span 2/4;
    text-align: end;
}

#hero-img-svg {
    transform: scale(-1, 1);
}

#hero-login {
    margin-right: 15px;
}

#down-icon-container {
    grid-row: 5/6;
    grid-column: span 2;
    display: flex;
    flex-grow: .5;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

#down-icon:hover {
    cursor: pointer;
}

/* Information section styles */

#landing-info {
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.number {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--Grey);
    width:150px;
    height:150px;
    border-radius: 25%;
}

.info-box {
    display: grid;
    grid-template-columns: 35% auto;
    align-items: center;
    margin-top: 30px;
}