<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/form/form.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/form/form-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/form.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body onload="getBudgetData()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="nav-show"><a href="/login">Sign In</a></li>
                        <li class='cta-link nav-show'><a href="/login">Sign Up</a></li>
                        <li class='nav-noshow'><a href="/login">Dashboard</a></li>
                        <li class='nav-noshow'><a href="/login">Log Out</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content non-header" id="acd-expenses">
            <form action="data/acd-expense">
                <input type="hidden" id="Id" name="Id" value={{id}} />

                <label class="acd-form" for="exname">Expense Name</label><br>
                <input type="text" id="name" name="name" value={{name}} required><br>

                <label class="acd-form" for="examount">Expense Amount</label><br>
                <input type="text" id="amount" name="amount" value={{amount}} required><br>

                <label class="acd-form" for="category">Budget Category</label><br>
                <select id="category" name="category" required>
                    {% for option in allCategories %}
                        {% if option == category %}
                            <option value={{option}} selected="selected">{{option}}</option>
                        {% else %}
                            <option value={{option}}>{{option}}</option>
                        {% endif %} 
                    {% endfor %}
                </select><br>

                <label class="acd-form" for="exdescription">Expense Description</label><br>
                <textarea id="description" name="description" rows="4" cols="50" value={{description}}></textarea><br>

                <label class="acd-form" for="preamount">Predicted Expense Amount</label><br>
                <input type="text" id="preamount" name="preamount" value={{predicted}}><br>

                <!-- Radio buttons for the expense period -->
                <label class="acd-form" class="expense-period">
                    {% if recurPeriod == "One Time" %}
                        <input type="checkbox" id="onetime" name="radio" value="One Time" checked="checked">
                    {% else %}
                        <input type="checkbox" id="onetime" name="radio" value="One Time">
                    {% endif %} 

                    One Time
                </label><br>
                <label class="acd-form expense-period">
                    {% if recurPeriod == "Weekly" %}
                        <input type="checkbox" id="weekly" name="radio" value="Weekly" checked="checked">
                    {% else %}
                        <input type="checkbox" id="weekly" name="radio" value="Weekly">
                    {% endif %}                     
                    
                    Weekly
                </label><br>
                <label class="acd-form expense-period">
                    {% if recurPeriod == "Biweekly" %}
                        <input type="checkbox" id="biweekly" name="radio" value="Biweekly" checked="checked">
                    {% else %}
                        <input type="checkbox" id="biweekly" name="radio" value="Biweekly">
                    {% endif %}    
                    
                    Biweekly
                </label><br>
                <label class="acd-form expense-period">
                    {% if recurPeriod == "Monthly" %}
                        <input type="checkbox" id="monthly" name="radio" value="Monthly" checked="checked">
                    {% else %}
                        <input type="checkbox" id="monthly" name="radio" value="Monthly">
                    {% endif %} 

                    Monthly
                </label><br>
                <label class="acd-form expense-period">
                    {% if recurPeriod == "Yearly" %}
                        <input type="checkbox" id="yearly" name="radio" value="Yearly" checked="checked">
                    {% else %}
                        <input type="checkbox" id="yearly" name="radio" value="Yearly">
                    {% endif %} 
                    
                    Yearly
                </label><br>

                <label class="acd-form" for="exstart">Expense Start Date</label><br>
                <input type="date" id="start-date" name="start-date" value={{startDate}} required><br>

                <label class="acd-form" for="exrecurring"> Is this expense and amount recurring?</label><br>
                    {% if recurring == true %}
                        <input type="checkbox" id="recurring" name="recurring" checked><br>
                    {% else %}
                        <input type="checkbox" id="recurring" name="recurring"><br>
                    {% endif %} 
                

                <button class="cta-button" type="submit" value="Submit">Submit</button>
                <button onclick="back()" value="Back">Cancel</button>
            </form>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon'>
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                        <img src="../static/images/GitHub-Mark-Light-64px.png">
                    </a>
                </div> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                        <img src="../static/images/LI-In-Bug.png">
                    </a>
                </div>
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com'>
                        <img src="../static/images/AshaIV-logo-light.svg">
                    </a>
                </div>
            </div> 
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg">            
            </div>
        </div>
    </body>
</html>