<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/form/form.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/form/form-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/form.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body onload="formLoad()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="nav-show"><a href="/login">Sign In</a></li>
                        <li class='cta-link nav-show'><a href="/login">Sign Up</a></li>
                        <li class='nav-noshow'><a href="/login">Dashboard</a></li>
                        <li class='nav-noshow'><a href="/login">Log Out</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content non-header" id="acd-budgets">
            <form action="/data/create-budget">
                <label class="acd-form" for="name">Budget Name</label><br>
                <input type="text" id="name" name="name" required><br>

                <label class="acd-form" for="description">Budget Description</label><br>
                <textarea id="description" name="description" rows="4" cols="50"></textarea><br>

                <label class="acd-form" for="amount">Budget Amount</label><br>
                <input type="text" id="amount" name="amount" required><br>

                <label class="acd-form" for="start">Budget Start Date</label><br>
                <input type="date" id="start" name="start" required><br>

                <!-- Radio buttons for the budget period -->
                <label class="acd-form" for="radio">Choose how long your budget period will be:</label>
                <label class="acd-form budget-period">
                    <input type="radio" id="daily" name="radio" value="Daily">
                    One Day
                </label><br>
                <label class="acd-form budget-period">
                    <input type="radio" id="weekly" name="radio" value="Weekly">
                    One Week
                </label><br>
                <label class="acd-form budget-period">
                    <input type="radio" id="biweekly" name="radio" value="Biweekly">
                    Two Weeks
                </label><br>
                <label class="acd-form budget-period">
                    <input type="radio" id="monthly" name="radio" value="Monthly">
                    One Month
                </label><br>
                <label class="acd-form budget-period">
                    <input type="radio" id="yearly" name="radio" value="Yearly">
                    One Year
                </label><br>

                <label class="acd-form" for="recurring"> Is this a recurring budget?</label><br>
                <label class="acd-form recurring-choice">
                    <input type="radio" id="recurring-true" name="recurring" value="True"><br>
                    Yes
                </label>
                <label class="acd-form recurring-choice">
                    <input type="radio" id="recurring-false" name="recurring" value="False" checked="checked"><br> 
                    No
                </label>
                
                <div id="recurring-items">
                    <label class="acd-form" for="end">Budget End Date</label><br>
                    <input type="date" id="end" name="end"><br>
                </div>

                <button class="cta-button" type="submit" value="Submit">Submit</button>
                <button onclick="back()" value="Back">Cancel</button>

            </form>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon'>
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                        <img src="../static/images/GitHub-Mark-Light-64px.png">
                    </a>
                </div> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                        <img src="../static/images/LI-In-Bug.png">
                    </a>
                </div>
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com'>
                        <img src="../static/images/AshaIV-logo-light.svg">
                    </a>
                </div>
            </div> 
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg">            
            </div>
        </div>
    </body>
</html>