<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/dashboard/dashboard.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/dashboard/dashboard-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/script.js'></script>
        <script src='../static/javascript/dashboard.js'></script>
        

        <Title>Chary</Title>
    </head>

    <body onload="loadDashboard()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="nav-show"><a href="/login">Sign In</a></li>
                        <li class='cta-link nav-show'><a href="/login">Sign Up</a></li>
                        <li class='nav-noshow'><a href="/login">Dashboard</a></li>
                        <li class='nav-noshow'><a href="/login">Log Out</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="non-header" id="dashboard-content">
            <div id="dashboard-non-scrollable">
                <div id="profile-section"></div>
                <div id="dashboard-tabs">
                    <ul>
                        <li onclick="overviewTab()" id="overview-tab" class="dashTab">Overview</li>
                        <li onclick="budgetTab()" id="budget-tab" class="dashTab">Budgets</li>
                        <li onclick="earningTab()" id="earning-tab" class="dashTab">Earnings</li>
                        <li onclick="expenseTab()" id="expense-tab" class="dashTab">Expenses</li>
                    </ul>
                </div>
            </div>
            <div class="content" id="dashboard-scrollable">
                <div id="overview-section">
                    <div id="trend-section">
                        <p>insert graphs here</p>
                    </div>
                    <div id="overview-container">

                    </div>
                </div>
                <div id="budget-section">
                    <h1>Budgets</h1>
                    <button id="add-budget-button" onclick="goToBudgetForm()">+ Add Budget</button>
                    <div id="budget-container"></div>
                </div>
                <div id="earning-section">
                    <h1>Recent Earnings</h1>
                    <button id="add-earning-button" onclick="goToEarningForm()">+ Add Earning</button>
                    <div id="earning-container"></div>
                </div>
                <div id="expense-section">
                    <h1>Recent Expenses</h1>
                    <button id="add-expense-button" onclick="goToExpenseForm()">+ Add Expense</button>
                    <div id="expense-container"></div>
                </div>
            </div>
            
        </div>
    </body>
</html>