<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/dashboard/dashboard.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/dashboard/dashboard-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/dashboard.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body onload="getUserData()">
        <div id="header-container">
            <header class="content">
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="logoAction()">
                <img id='toggle-icon' class="hamburg" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">Sign In</a></li>
                        <li class='cta-link'><a href="/login">Sign Up</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="content" id="landing-content">
            Hello! <br/> <a href='/logout'><button>Logout</button></a>
        </div>
    </body>
</html>