<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Script to load Google client library -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' href='../static/css/error/error.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/script.js'></script>

        <Title>Chary | Something went wrong...</Title>
    </head>

    <body onload="fillProfilePics()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="logoAction()" alt='Chary logo'>
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()" alt="toggle menu button">

                <nav id="website-nav">{{nav | safe}}</nav>
            </header>
        </div>

        <div class="content non-header" id="error-page">
            <h1 id="error-h1">{{ error[0] }}</h1>
            <h2 id="error-h2">{{ error[1] }}</h2>
            <div id="error-buttons">
                {% if loggedIn %}
                    <button class='cta-button' onclick="dashboardAction()">Dashboard</button>
                {% else %}
                    <button onclick="homeAction()">Home</button>
                {% endif %}

                {% if showLogin %}
                    <button class='cta-button' onclick="loginAction()">Log In</button>
                {% endif %}
            </div>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon' title="Asha's Github">
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65' alt="Github logo">
                        <img src="../static/images/GitHub-Mark-Light-64px.png" alt="Github logo">
                    </a>
                </div> 
                <div class='contact-icon' title="Asha's LinkedIn">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/' alt="LinkedIn logo">
                        <img src="../static/images/LI-In-Bug.png" alt="LinkedIn logo">
                    </a>
                </div>
                <div class='contact-icon' title="Asha's personal portfolio website">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com' alt="Logo for Asha's personal portfolio website">
                        <img src="../static/images/AshaIV-logo-light.svg" alt="Logo for Asha's personal portfolio website">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/terms_of_service">Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/contact">Contact</a>
                </div>
                <span>|</span>
                <div class="report-button">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/aivey65/Chary/issues/new" alt="Link to report an issue">Report Issue</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg" alt="Simplified version of the Chary logo. Scrolls to top of page when clicked.">            
            </div>
        </div>
    </body>
</html>