<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/landing/landing.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/landing/landing-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/landing.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body onload="configureHeight()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()" alt='Chary logo'>
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()" alt="toggle menu button">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="nav-show"><a href="/login">Sign In</a></li>
                        <li class='cta-link nav-show'><a href="/login">Sign Up</a></li>
                        <li class='nav-noshow'><a href="/login">Dashboard</a></li>
                        <li class='nav-noshow'><a href="/login">Log Out</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content non-header" id="landing-hero">
            <div id="hero-text">
                <h1 id="hero1">Be chary when spending money</h1>
                <svg id="hero2" height="140" width="530">
                    <text x="0" y="10" stroke-width="7" paint-order="stroke">
                        <tspan x="0" dx="0" dy="35">Keep track of your daily spendings with Chary. Visualise</tspan>
                        <tspan x="0" dx="0" dy="35">your expenses and make budgeting plans to achieve your</tspan>
                        <tspan x="0" dx="0" dy="35">money-saving goals</tspan>
                    </text>
                </svg>
                <h3 id="hero2-mobile">Keep track of your daily spendings with Chary. Visualise your expenses and make budgeting plans to achieve your money-saving goals</h3>
                <div id="hero3">
                    <button id="hero-login" onclick="loginAction()">Log In</button>
                    <button class="cta-button" onclick="loginAction()">Get Started</button>
                </div>
                <div id="hero-img">
                    <img id="hero-img-svg" src="../static/images/Chary_hero_crop.svg">
                </div>
                <div class="centered" id="down-icon-container">
                    <img id='down-icon' class='icon floating' src="../static/images/down-icon-light.svg" onclick="downAction()" alt="Down arrow to read more">
                </div>
            </div>
            <div id="hero-img-mobile">
                <img id="hero-img-svg" src="../static/images/mobile_hero.svg">
            </div>
        </div>

        <div class="non-header" id="landing-info">
            <div class="info-box" id="info1">
                <img class="number" src="../static/images/undraw_pie_chart.svg">
                <h3>Create custom budgets and set a dollar amount limit </h3>
            </div>
            <div class="info-box" id="info2">
                <img class="number" src="../static/images/undraw_gone_shopping.svg">
                <h3>As you make purchases, add the amount you spent into your expenses</h3>
            </div>
            <div class="info-box" id="info3">
                <img class="number" src="../static/images/undraw_statistics.svg">
                <h3>We'll let you know how you are doing—and if you need to reduce spending to reach your goals</h3>
            </div>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon'>
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                        <img src="../static/images/GitHub-Mark-Light-64px.png">
                    </a>
                </div> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                        <img src="../static/images/LI-In-Bug.png">
                    </a>
                </div>
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com'>
                        <img src="../static/images/AshaIV-logo-light.svg">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/terms_of_service">Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg">            
            </div>
        </div>
    </body>
</html>