<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/landing/landing.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/landing/landing-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/landing.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body>
        <div id="header-container">
            <header class="content">
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">Sign In</a></li>
                        <li class='cta-link'><a href="/login">Sign Up</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content non-header" id="landing-hero">
            <h1 id="hero1">Be chary when spending money</h1>
            <h4 id="hero2">Keep track of your daily spendings with Chary. Visualise your expenses and make budgeting plans to achieve your money-saving goals</h2>
            <div id="hero3">
                <button id="hero-login" onclick="loginAction()">Log In</button>
                <button class="cta-button" onclick="loginAction()">Get Started</button>
            </div>
            <div class="centered" id="down-icon-container">
                <img id='down-icon' class='icon floating' src="../static/images/down-icon-light.svg" onclick="downAction()">
            </div>
        </div>

        <div class="content non-header" id="landing-info">
            <h1>Be Chary with your money</h1>
            <h2>Keep track of your daily expenses to see where you can save. </h2>
        </div>
    </body>
</html>