<!DOCTYPE html>
<html>
    <head>
        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,600;1,100;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' href='../static/css/landing.css'>

        <Title>Chary | Landing</Title>
    </head>

    <body>
        <header>
            <img id='large-logo' src="../static/images/CharyLogo.svg"></img>
            <img id='small-logo' src="../static/images/CharyLogoSmall.svg"></img>

            <nav>
                <ul>
                    <li><a href="./about.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./login.html">Sign In</a></li>
                    <li><a href="./login.html">Get Started</a></li>

                </ul>
            </nav>
        </header>
        <h1>Be Chary with how you spend your money</h1>

    </body>
</html>