<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Script to load Google client library -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/login/login.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/login/login-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/landing.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body>
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav id="website-nav">{{nav | safe}}</nav>
            </header>
        </div>

        <div class="content non-header" id="login">
            <div id="login-container">
                <div id="image-card">
                    <img src="../static/images/undraw_login_welcome.svg"/>
                </div>
                <div id="login-card">
                    <h1>Log In</h1>
                    <img id="unavailable-img" src="../static/images/Currently_unavailable.svg"/>
                    <form id="login-form">
                        <input type="text" id="uname" name="uname" placeholder="Username"><br>
                        <input type="text" id="pass" name="pass" placeholder="Password"><br><br>
                        <input type="submit" value="Submit">
                    </form>
                    <hr>
                    <a id="login-button" href="/google">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"/>
                        Login with Google
                    </a>
                </div>  
            </div>
            
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon'>
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65'>
                        <img src="../static/images/GitHub-Mark-Light-64px.png">
                    </a>
                </div> 
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/'>
                        <img src="../static/images/LI-In-Bug.png">
                    </a>
                </div>
                <div class='contact-icon'>
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com'>
                        <img src="../static/images/AshaIV-logo-light.svg">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a>Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a>Contact</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg">            
            </div>
        </div>
           
    </body>
</html>