<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Script to load Google client library -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/landing.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/landing-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/landing.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body>
        <div id="header-container">
            <header class="content">
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="logoAction()">
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()">

                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/login">Sign In</a></li>
                        <li class='cta-link'><a href="/google">Sign Up</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="content non-header" id="login">
            <a href="/google">
                <img id="google"
                   src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
                   alt="Google"> <br>
            </a>
        </div>
           
    </body>
</html>