<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/landing/landing.css'>
        <link rel='stylesheet' media='screen and (max-width:767px)' href='../static/css/landing/landing-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/script.js'></script>

        <Title>Chary</Title>
    </head>

    <body onload="fillProfilePics()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()" alt='Chary logo'>
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()" alt="toggle menu button">

                <nav id="website-nav">{{nav | safe}}</nav>
            </header>
        </div>

        <h1>
            Terms of Service
        </h1>
        <button onclick="homeAction()">Back to Home</button>
        {% if showLogin %}
            <button class='cta-button' onclick="loginAction()">Log In</button>
        {% endif %}
        {% if showDashboard %}
            <button class='cta-button' onclick="dashboardAction()">Dashboard</button>
        {% endif %}

        <h2>Introduction</h2>
        <p>
            This cookie policy explains how Chary uses cookies and similar technologies when you visit our web app.
        </p>

        <h2>What is a Cookie?</h2>
        <p>
            A cookie is a small text file that a website saves on your device when you visit it. This data can be read from your device when you revisit the site later.
        </p>
        <p>
            A cookie can store information about your login information, interactions, settings, and preferences to provide a personalized experience.
        </p>

        <h2>What types of Cookies does Chary use?</h2>
        <p>
            We use only one type of cookie on our app:
        </p>
        <ul>
            <li>
                Session Cookies: These cookies are temporary and necessary for the basic functionality of our app. These session cookies are deleted when you close the app, log out of your account, or when the cookie expires. They are used to remember your login information once you are authenticated so that you can view your own personal data. Once a session has ended, the cookie is deleted, and the user would need to sign in again.
            </li>
        </ul>

        <h2>How do we use Cookies?</h2>
        <p>
            We use cookies for the following purposes:
        </p>
        <ul>
            <li>
                To remember your login information
            </li>
            <li>
                To check that a user has been authenticated before taking certain actions
            </li>
            <li>
                To improve our services
            </li>
        </ul>
        <p>
            Chary does not create cookies that are not vital to the functionality of the website and Chary does not sell your information or use your information for analytics.
        </p>

        <h2>What choices do you have?</h2>
        <p>
            You have the right to choose whether or not to allow us to use cookies. You can exercise your choice by using the settings in your browser or mobile device to block cookies. Since cookies are vital to the functionality of Chary, you also have the choice to not use Chary.
        </p>

        <h2>How can you control Cookies></h2>
        <p>
            You can control cookies by using the settings in your browser. In your browser settings, search for terms like /'Cookies/' or /'Site Data/'. There, you can find directions to manage, restrict, and delete your cookies at any time.
        </p>

        <h2>Changes to our Cookie policy</h2>
        <p>
            Chary is unlikely to make updates to our cookie policy, as we have no need to store more information or use the information we collect in a different way. However, if we were to make any material changes, we will notify you by posting a notice on our app so that you can review the updated policies.
        </p>

        <h2>Contact us </h2>
        <p>
            If you have any questions about this cookie policy, please contact us by filling out our contact form
            <a href="/contact" alt="contact form">here</a>.
        </p>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon' title="Asha's Github">
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65' alt="Github logo">
                        <img src="../static/images/GitHub-Mark-Light-64px.png" alt="Github logo">
                    </a>
                </div> 
                <div class='contact-icon' title="Asha's LinkedIn">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/' alt="LinkedIn logo">
                        <img src="../static/images/LI-In-Bug.png" alt="LinkedIn logo">
                    </a>
                </div>
                <div class='contact-icon' title="Asha's personal portfolio website">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com' alt="Logo for Asha's personal portfolio website">
                        <img src="../static/images/AshaIV-logo-light.svg" alt="Logo for Asha's personal portfolio website">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/terms_of_service">Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/contact">Contact</a>
                </div>
                <span>|</span>
                <div class="report-button">
                    <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLScy5GtuSRAn-IBCe71kLlTfBwwP0fTXXX7eG1fFd_Puev9vbw/viewform?usp=sf_link" alt="Link to report an issue">Report Issue</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg" alt="Simplified version of the Chary logo. Scrolls to top of page when clicked.">            
            </div>
        </div>
    </body>
</html>