<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel='shortcut icon' sizes='256x256' href='../static/images/CharyLogoSmall.svg'>

        <!-- Google Font imports -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,600&family=Pacifico&display=swap" rel="stylesheet">

        <!-- CSS Stylesheets -->
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='stylesheet' media='screen and (min-width:768px)' href='../static/css/form/form.css'>
        <link rel='stylesheet' media='screen and (max-width:768px)' href='../static/css/form/form-mobile.css'>

        <!-- JavaScript links -->
        <script src='../static/javascript/form.js'></script>
        <script src='../static/javascript/script.js'></script>

        <Title>Chary | Update Earning</Title>
    </head>

    <body onload="formLoad()">
        <div id="header-container">
            <header>
                <img id='large-logo' src="../static/images/CharyLogo.svg" onclick="homeAction()" alt='Chary logo'>
                <img id='toggle-icon' class="hamburg icon" src="../static/images/hamburger-icon.svg" onclick="toggleMenu()" alt="toggle menu button">

                <nav id="website-nav">{{nav | safe}}</nav>
            </header>
        </div>

        <div class="content non-header" id="acd-earnings">
            <div id="alert-section"></div>
            <form action="javascript:submitEarningForm('update')">
                <input type="hidden" id="id" name="id" value={{id}} />

                <label class="required-input" for="name">Earning Name</label><br>
                <input type="text" id="name" name="name" value={{name}} required><br>

                <label class="required-input" for="amount">Earning Amount</label><br>
                <input type="text" id="amount" name="amount" value={{amount}} required><br>

                <label for="description">Earning Description</label><br>
                <textarea id="description" name="description" rows="4" cols="50" value={{description}}></textarea><br>

                <label class="required-input" for="start">Date Received</label><br>
                <input type="date" id="start" name="start" value={{startDate}} required><br>
                
                <!-- Recurring Inputs -->
                <p class="required-input" for="recurring"> Is this a recurring source of income?</p><br>
                
                {% if recurring %}
                    <input type="radio" id="recurring-true" name="recurring" value="True" checked="checked">
                {% else %}
                    <input type="radio" id="recurring-true" name="recurring" value="True">
                {% endif %}
                <label for='recurring-true' class="recurring-choice label-recurring-true">Yes</label>

                {% if recurring %}
                    <input type="radio" id="recurring-false" name="recurring" value="False">
                {% else %}
                    <input type="radio" id="recurring-false" name="recurring" value="False" checked="checked">
                {% endif %}
                <label for='recurring-false' class="recurring-choice label-recurring-false">No</label><br>

                <div id="recurring-items">
                    <!-- Earning Period Inputs -->
                    <p class="required-input" for="radio">Choose how often you receive this income:</p>

                    {% if recurPeriod == 0 %}
                        <input type="radio" id="daily" name="radio" value="0" checked="checked">
                    {% else %}
                        <input type="radio" id="daily" name="radio" value="0">
                    {% endif %}
                    <label for='daily' class="earning-period label-daily">Daily</label>

                    {% if recurPeriod == 1 %}
                        <input type="radio" id="weekly" name="radio" value="1" checked="checked">
                    {% else %}
                        <input type="radio" id="weekly" name="radio" value="1">
                    {% endif %}
                    <label for='weekly' class="earning-period label-weekly">Weekly</label>

                    {% if recurPeriod == 2 %}
                        <input type="radio" id="biweekly" name="radio" value="2" checked="checked">
                    {% else %}
                        <input type="radio" id="biweekly" name="radio" value="2">
                    {% endif %}
                    <label for='biweekly' class="earning-period label-biweekly">Biweekly</label>

                    {% if recurPeriod == 3 %}
                        <input type="radio" id="monthly" name="radio" value="3" checked="checked">
                    {% else %}
                        <input type="radio" id="monthly" name="radio" value="3">
                    {% endif %}
                    <label for='monthly' class="earning-period label-monthly">Monthly</label>

                    {% if recurPeriod == 4 %}
                        <input type="radio" id="yearly" name="radio" value="4" checked="checked">
                    {% else %}
                        <input type="radio" id="yearly" name="radio" value="4">
                    {% endif %} 
                    <label for='yearly' class="earning-period label-yearly">Yearly</label>

                    <label for="end">End Date</label><br>
                    <input type="date" id="end" name="end" value={{endDate}}><br>
                </div>

                <button class="cta-button" type="submit" value="Submit">Submit</button>
                <button onclick="back()" value="Back">Cancel</button>
            </form>
        </div>

        <div class="footer">
            <div class='contact-methods'> 
                <div class='contact-icon' title="Asha's Github">
                    <a  target="_blank" rel="noopener noreferrer" href='https://github.com/aivey65' alt="Github logo">
                        <img src="../static/images/GitHub-Mark-Light-64px.png" alt="Github logo">
                    </a>
                </div> 
                <div class='contact-icon' title="Asha's LinkedIn">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.linkedin.com/in/ashaiv/' alt="LinkedIn logo">
                        <img src="../static/images/LI-In-Bug.png" alt="LinkedIn logo">
                    </a>
                </div>
                <div class='contact-icon' title="Asha's personal portfolio website">
                    <a target="_blank" rel="noopener noreferrer" href='https://www.ashaiv.com' alt="Logo for Asha's personal portfolio website">
                        <img src="../static/images/AshaIV-logo-light.svg" alt="Logo for Asha's personal portfolio website">
                    </a>
                </div>
            </div> 
            <div id="legal">
                <div class="legal-button">
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/terms_of_service">Terms of Service</a>
                </div>
                <span>|</span>
                <div class="legal-button">
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="btt-icon" onclick="bttAction()">
                <img class="icon" src="../static/images/CharyLogoSmall.svg" alt="Simplified version of the Chary logo. Scrolls to top of page when clicked.">            
            </div>
        </div>
    </body>
</html>